*{
  box-sizing: 0;
  padding: 0;
  margin: 0;
  background-color: #494848;
  color: #E3DCDC;
}
h5 {
  background-color: transparent;
}
.bgDark {
  background-color: #494848;
  color : white;
  font-style: italic;
}


.homePageElimentWrapper {
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.homePageElimentWrapper a {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
  overflow: hidden;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.homePageElimentWrapper a:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.homePageElimentWrapper img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

@media (max-width: 768px) {
  .homePageElimentWrapper {
    flex-direction: column;
    align-items: center;
  }

  .homePageElimentWrapper a {
    width: 80%;
  }
}


/* ------------------------------------------------- */
